.root {
  padding-left: 20px;
  padding-right: 20px;
}

.marker-meta {
  margin-top: 5px;
  margin-bottom: 15px; }

.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px; }

.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn; }

.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut; }

.add-marker-modal .ant-input-affix-wrapper {
  margin-top: 1em; }

.add-marker-modal textarea {
  margin-top: 1em;
  margin-bottom: 1em; }
