@import '~antd/dist/antd.less'

.logo
  *
    display: inline-block
    vertical-align: middle
    margin-bottom: 0
  img
    height: 30px
    margin-right: 1em
  h1
    line-height: 30px

.marker-meta
  margin-top: 5px
  margin-bottom: 15px
